{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block titulo %}Crear Nuevo Cliente{% endblock titulo %}
{% block contenido %}
<div class="card">
    <div class="card-header">Crear Nuevo Cliente</div>
    <div class="card-body">
        <h4 class="card-title">Nuevo Cliente</h4>
        <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {{ formulario.nombre|as_crispy_field }}
            {{formulario.apellido_paterno|as_crispy_field}}
            {{formulario.apellido_materno|as_crispy_field}}
            {% if formulario.foto.value %}
                <img src="{{MEDIA_URL}}/imagenes/{{formulario.foto.value}}" alt="Imagen {{cl.id}}" width="100" />
            {% endif %}
            {{formulario.foto|as_crispy_field}}
            {{formulario.lenguaje|as_crispy_field}}
            {{formulario.so|as_crispy_field}}

            <button class="btn btn-primary" type="submit">Guardar</button>
            <a class="btn btn-danger" href="{% url 'lista' %}">Cancelar</a>
        </form>
    </div>
    <div class="card-footer text-muted">|-|-|</div>
</div>

{% endblock contenido %}