{% extends "pages/base.html" %} 
{% block titulo %}Página de Lista de Clientes{% endblock titulo %}
{% block contenido %}

<div class="card">
  <div class="card-header">
    <a
        name="btnnuevo"
        id="btnnuevo"
        class="btn btn-primary"
        href="{% url 'crear-clientes'%}"
        role="button"
        >Nuevo</a
    >
    
    
  </div>
  <div class="card-body">
    <h4 class="card-title">Clientes</h4>
    <div class="table-responsive">
      <table class="table table-secondary">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Dirección</th>
            <th scope="col">Foto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody >
          {% for cl in clientes %}
          <tr>
            <td>{{cl.id}}</td>
            <td>{{cl.nombre}}</td>
            <td>{{cl.apellido_paterno}}</td>
            <td>{{cl.apellido_materno}}</td>
            <td>{{cl.direccion}}</td>
            <td><img src="{{cl.foto.url}}" height="60px"></td>
            <td>
                <a name='btneditar' id='btneditar' class='btn btn-info'href="{% url 'editar' cl.id %}"role='button'>
                    Editar
                </a>
                <a name='btneliminar' id='btneliminar' class='btn btn-danger'href="{% url 'eliminar' cl.id %}"role='button'>
                    Eliminar
                </a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <div class="card-footer text-muted">-*-*-</div>
</div>

{% endblock contenido %}
